.site-footer {

    &__content {
        
        @mixin atMedium {
            display: flex;
            justify-content: space-between;
        }
    }

    &__about {

        @mixin atMedium {
            margin-bottom: 0;
        }
    }

    &__right {

        @mixin atMedium {
            display: flex;
        }
    }

    &__pages {

        @mixin atMedium {
            margin-bottom: 0;
            margin-right: 2rem;
        }
    }

    &__media {

        &__content {
            display: flex;
        }
        &__link {
            padding: .3rem;
            
            & svg {
                fill: $white;
                width: 20px;
                height: 20px;
            }
        }
    }
}