.main-menu {
    & ul {
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        border-radius: 0;

        & li {
            display: inline;
            margin: 0 5px 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    & .dropdown:hover > .dropdown-menu,
    & .dropup:hover > .dropdown-menu {
        display: block;
    }
}