.best-seller {

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 2rem;

        @mixin atMedium {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}