.new-arrivals {
    position: relative;

    &__photo {
        display: flex;
        justify-content: center;
        overflow: hidden;

        &__content {
            height: 600px;

            @mixin overlay {}
            @mixin atMedium {
                height: auto;
                max-height: 800px;
            }
            
            
            & img {
                width: auto;
                
                @mixin atMedium {
                    width: 100%;
                    height: auto;
                }
            }

        }
    }

    &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-bottom: 10%;

        &__btn {
            border: 1px solid $white;
            box-shadow: 0 0 10px 1px rgba(255,255,255,0.2);
        }
    }
    
}