.woocommerce-cart table.cart td.actions .coupon .input-text{
    width: 150px;
}

.cart {

    & .cart-icon {
        fill: none;
        stroke: rgba(0, 0, 0, 0.5);
        display: inline-block;
        vertical-align: bottom;
    }

    & .items {
        background: #CA2424;
        color: #fff;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
    }
    
}