.woocommerce-loop-product__title {
    font-weight: normal;
    color: $black;
}

.woocommerce ul.products li.product .price {
    font-weight: bold;
    color: $black;
}

.loop-product__wishlist {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;

    &__btn {
        display: block;
        border: none;
        border-radius: 50%;
        box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
        padding: .2rem;

        @mixin atLarge {
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__image {
        
        & svg {
            stroke: $black;
            fill: none;
        }
    }
}