/*!--------------------------
# media queries
----------------------------*/
@define-mixin atSmall {
    @media (min-width: 576px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 768px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 992px) {
        @mixin-content;
    }
}

@define-mixin atExtraLarge {
    @media (min-width: 1200px) {
        @mixin-content;
    }
}

/*!--------------------------
# overlay for images
----------------------------*/
@define-mixin overlay {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }
}

/*!--------------------------
# Animation
----------------------------*/
@define-mixin zoomIn {
    transition: all .3s ease-in;
    
    &:hover {
        transform: scale(1.2);
    }
}

/*!--------------------------
# Typoghraphy
----------------------------*/
@define-mixin fontSize $size, $space: 0 {
    font-size: $size;
	line-height: calc($size * 1.5);
    letter-spacing: $space;
    @mixin-content;
}