/*!-------------
Padding
---------------*/
.pt-4 {
    padding-top: $s4;
}
.pt-8 {
    padding-top: $s8;
}
.pt-16 {
    padding-top: $s16;
}
.pt-24 {
    padding-top: $s24;
}
.pt-32 {
    padding-top: $s32;
}

.pr-4 {
    padding-right: $s4;
}
.pr-8 {
    padding-right: $s8;
}
.pr-16 {
    padding-right: $s16;
}
.pr-24 {
    padding-right: $s24;
}
.pr-32 {
    padding-right: $s32;
}

.pb-4 {
    padding-bottom: $s4;
}
.pb-8 {
    padding-bottom: $s8;
}
.pb-16 {
    padding-bottom: $s16;
}
.pb-24 {
    padding-bottom: $s24;
}
.pb-32 {
    padding-bottom: $s32;
}

.pl-4 {
    padding-left: $s4;
}
.pl-8 {
    padding-left: $s8;
}
.pl-16 {
    padding-left: $s16;
}
.pl-24 {
    padding-left: $s24;
}
.pl-32 {
    padding-left: $s32;
}

/*!-------------
Margin
---------------*/
.mt-4 {
    margin-top: $s4;
}
.mt-8 {
    margin-top: $s8;
}
.mt-16 {
    margin-top: $s16;
}
.mt-24 {
    margin-top: $s24;
}
.mt-32 {
    margin-top: $s32;
}

.mr-4 {
    margin-right: $s4;
}
.mr-8 {
    margin-right: $s8;
}
.mr-16 {
    margin-right: $s16;
}
.mr-24 {
    margin-right: $s24;
}
.mr-32 {
    margin-right: $s32;
}

.mb-4 {
    margin-bottom: $s4;
}
.mb-8 {
    margin-bottom: $s8;
}
.mb-16 {
    margin-bottom: $s16;
}
.mb-24 {
    margin-bottom: $s24;
}
.mb-32 {
    margin-bottom: $s32;
}

.ml-4 {
    margin-left: $s4;
}
.ml-8 {
    margin-left: $s8;
}
.ml-16 {
    margin-left: $s16;
}
.ml-24 {
    margin-left: $s24;
}
.ml-32 {
    margin-left: $s32;
}