/*!-------------
Colors
---------------*/
$white      : rgb(255, 255, 255);
$black      : rgb(41, 41, 41);
$gray       : rgb(117, 117, 117);
$softGray   : rgb(230, 230, 230);
$red        : rgb(254, 109, 115);

/*!-------------
Spacing
---------------*/
$s4      : 4px;
$s8      : 8px;
$s16     : 16px;
$s24     : 24px;
$s32     : 32px;