/*!--------------------------
# Import from node_modules
----------------------------*/
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/slick-carousel/slick/slick-theme.css';
@import '../../../node_modules/slick-carousel/slick/slick.scss';


/*!--------------------------
# Global
----------------------------*/
@import 'global/_typography';
@import 'global/_wp-content-width';


/*!--------------------------
# Components
----------------------------*/
@import 'components/_header';
@import 'components/_footer';
@import 'components/_searchform';
@import 'components/_dealoftheweek';
@import 'components/_section-title';


/*!--------------------------
# Woocommerce
----------------------------*/
@import 'woocommerce/_grid-system';
@import 'woocommerce/_archive-product';
@import 'woocommerce/_single-product';
@import 'woocommerce/_cart';
@import 'woocommerce/_checkout';