button,
.btn {
    border-radius: 3px;
    padding: 10px 20px;
    transition: all .3s ease;

    &:active {
		box-shadow: none;
	}
	&:focus {
		outline: none;
    }
    @mixin atLarge {
        &:hover {
            opacity: .8;
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}