/*!-------------
Text
---------------*/
.text-white {
    color: $white;
}
.text-black {
    color: $black;
}
.text-gray {
    color: $gray;
}
.text-softGray {
    color: $softGray;
}
.text-red {
    color: $red;
}

/*!-------------
Background
---------------*/
.bg-white {
    background-color: $white;
}
.bg-black {
    background-color: $black;
}
.bg-gray {
    background-color: $softGray;
}
.bg-yellow {
    background-color: $yellow;
}
.bg-transparent {
    background-color: transparent;
}