.product-cart {
    position: relative;

    &__image {
        overflow: hidden;

        &__content {
            @mixin zoomIn {}
        }
    }

    &__heart {
        position: absolute;
        top: 0;
        right: 0;
        padding: .5rem;

        &__btn {
            display: block;
            border: none;
            border-radius: 50%;
            box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
            padding: .2rem;

            @mixin atLarge {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__image {
            
            & svg {
                stroke: $black;
                fill: none;
            }
        }
    }
}