.single-product {

    &__content {

        @mixin atMedium {
            display: flex;
        }

    }
    
    &__images {
        position: relative;
        overflow: hidden;
        flex: 1 1 50%;
        display: flex;
        flex-direction: row-reverse;
        margin-left: -24px;
        margin-right: -24px;

        @mixin atSmall {
            margin-left: 0;
            margin-right: 0;
        }

        &__main {
            position: relative;
            overflow: hidden;
            flex: 1 1 auto;

            & .slick-slide {
                margin: 0 4px;
            }

            & .slick-dots li button:before {
                font-size: 20px;
            }
        }

        &__thumbs {
            display: none;
            flex: 0 0 80px;
            max-width: 80px;
            margin-right: 10px;

            @mixin atSmall {
                display: block;
            }

            & .slick-slide {
                margin-bottom: 10px;
            }

            & .slick-current {
                border: 2px solid $black;
            }
        }
        
    }

    &__info {
        position: relative;
        flex: 0 0 50%;
        padding-top: 24px;
        padding-bottom: 70px;

        @mixin atMedium {
            padding-left: 24px;
        }
        @mixin atLarge {
            padding-left: 36px;
        }
    }

    &__price {
        display: flex;
    }

    &__colors {

        &__items {
            display: flex;
        }

        &__item {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }

    &__sizes {

        /* The container must be positioned relative: */
        &__select {
            position: relative;
            width: 150px;
            
            & select {
                display: none; /*hide original SELECT element: */
            }
            
            &__selected {
                border-radius: 50px;
                box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                
                /* Style the arrow inside the select element: */
                &::after {
                    position: absolute;
                    content: "";
                    top: 14px;
                    right: 10px;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;
                    border-color: $black transparent transparent transparent;
                }

                /* Point the arrow upwards when the select box is open (active): */
                &.select-arrow-active:after {
                    border-color: transparent transparent $black transparent;
                    top: 7px;
                }
            }

            /* Style items (options): */
            &__items {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                z-index: 99;
                box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

                /* Hide the items when the select box is closed: */
                &.select-hide {
                    display: none;
                }

                & > .option {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    cursor: pointer;

                    &.same-as-selected,
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: -24px;
        right: -24px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 -5px 10px 1px rgba(0, 0, 0, 0.1);
        padding: 8px 16px;

        @mixin atSmall {
            justify-content: center;
            left: 0;
            right: 0;
            box-shadow: none;
        }
        @mixin atLarge {
            padding: 16px 36px;
        }

        & > div {

            @mixin atSmall {
                margin: 0 20px;
            }
            @mixin atMedium {
                margin: 0 10px;
            }
            @mixin atLarge {
                margin: 0 20px;
            }
        }
    }

    &__quantity {
        display: flex;
        justify-content: space-between;
        border-radius: 50px;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

        &__minus, &__plus {
            font-size: 20px;
            background: transparent;
            border: none;
            border-radius: 50px;
            padding: 0 8px;
            z-index: 9;
        }

        &__input {
            font-size: 20px;
            font-weight: bold;
            width: 25px;
            border: none;
            text-align: center;
            outline: none;
        }
    }

    &__add-to-cart {

        &__btn {
            border: none;
            border-radius: 50px;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
        }
    }

    &__heart {

        &__btn {
            border: none;
            border-radius: 50%;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
            padding: 10px;

            & svg {
                fill: none;
                stroke: $black;
            }
        }
    }

}