.single-product {
    
    &__images {
        border: 1px solid red;
    }

    &__price {
        display: flex;
    }

    &__colors {

        &__items {
            display: flex;
        }

        &__item {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }

    &__sizes {

        /* The container must be positioned relative: */
        &__select {
            position: relative;
            width: 150px;
            
            & select {
                display: none; /*hide original SELECT element: */
            }
            
            &__selected {
                border-radius: 50px;
                box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                
                /* Style the arrow inside the select element: */
                &::after {
                    position: absolute;
                    content: "";
                    top: 14px;
                    right: 10px;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;
                    border-color: $black transparent transparent transparent;
                }

                /* Point the arrow upwards when the select box is open (active): */
                &.select-arrow-active:after {
                    border-color: transparent transparent $black transparent;
                    top: 7px;
                }
            }

            /* Style items (options): */
            &__items {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                z-index: 99;

                /* Hide the items when the select box is closed: */
                &.select-hide {
                    display: none;
                }

                & > .option {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    cursor: pointer;

                    &.same-as-selected,
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
}